Importing Dependencies

In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
print('Dependencies Imported')

Dependencies Imported

In [2]:
data = pd.read_csv("D:\\RS\\Coursera.csv")
data.head(5)

,Course Name,University,Difficulty Level,Course Rating,Course URL,Course Description,Skills
0,Write A Feature Length Screenplay For Film Or ...,Michigan State University,Beginner,4.8,https://www.coursera.org/learn/write-a-feature...,Write a Full Length Feature Film Script In th...,Drama Comedy peering screenwriting film D...
1,Business Strategy: Business Model Canvas Analy...,Coursera Project Network,Beginner,4.8,https://www.coursera.org/learn/canvas-analysis...,"By the end of this guided project, you will be...",Finance business plan persona (user experien...
2,Silicon Thin Film Solar Cells,�cole Polytechnique,Advanced,4.1,https://www.coursera.org/learn/silicon-thin-fi...,This course consists of a general presentation...,chemistry physics Solar Energy film lambda...
3,Finance for Managers,IESE Business School,Intermediate,4.8,https://www.coursera.org/learn/operational-fin...,"When it comes to numbers, there is always more...",accounts receivable dupont analysis analysis...
4,Retrieve Data using Single-Table SQL Queries,Coursera Project Network,Beginner,4.6,https://www.coursera.org/learn/single-table-sq...,In this course you�ll learn how to effectively...,Data Analysis select (sql) database manageme...

Basic Data Analysis

In [3]:
data.shape

(3522, 7)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3522 entries, 0 to 3521
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Course Name         3522 non-null   object
 1   University          3522 non-null   object
 2   Difficulty Level    3522 non-null   object
 3   Course Rating       3522 non-null   object
 4   Course URL          3522 non-null   object
 5   Course Description  3522 non-null   object
 6   Skills              3522 non-null   object
dtypes: object(7)
memory usage: 192.7+ KB

In [5]:
data.isnull().sum()

Course Name           0
University            0
Difficulty Level      0
Course Rating         0
Course URL            0
Course Description    0
Skills                0
dtype: int64

In [6]:
data['Difficulty Level'].value_counts()

Difficulty Level
Beginner          1444
Advanced          1005
Intermediate       837
Conversant         186
Not Calibrated      50
Name: count, dtype: int64

In [7]:
data['Course Rating'].value_counts()

Course Rating
4.7               740
4.6               623
4.8               598
4.5               389
4.4               242
4.9               180
4.3               165
4.2               121
5                  90
4.1                85
Not Calibrated     82
4                  51
3.8                24
3.9                20
3.6                18
3.7                18
3.5                17
3.4                13
3                  12
3.2                 9
3.3                 6
2.9                 6
2.6                 2
2.8                 2
2.4                 2
1                   2
2                   1
3.1                 1
2.5                 1
1.9                 1
2.3                 1
Name: count, dtype: int64

In [8]:
data['University'].value_counts()

University
Coursera Project Network                      562
University of Illinois at Urbana-Champaign    138
Johns Hopkins University                      110
University of Michigan                        101
University of Colorado Boulder                101
                                             ...
GitLab                                          1
Yeshiva University                              1
University of Glasgow                           1
Laureate Education                              1
The World Bank Group                            1
Name: count, Length: 184, dtype: int64

In [9]:
data['Course Name']

0       Write A Feature Length Screenplay For Film Or ...
1       Business Strategy: Business Model Canvas Analy...
2                           Silicon Thin Film Solar Cells
3                                    Finance for Managers
4            Retrieve Data using Single-Table SQL Queries
                              ...
3517    Capstone: Retrieving, Processing, and Visualiz...
3518                     Patrick Henry: Forgotten Founder
3519    Business intelligence and data analytics: Gene...
3520                                  Rigid Body Dynamics
3521    Architecting with Google Kubernetes Engine: Pr...
Name: Course Name, Length: 3522, dtype: object

In [10]:
data = data[['Course Name','Difficulty Level','Course Description','Skills']]

In [11]:
data.head(5)

,Course Name,Difficulty Level,Course Description,Skills
0,Write A Feature Length Screenplay For Film Or ...,Beginner,Write a Full Length Feature Film Script In th...,Drama Comedy peering screenwriting film D...
1,Business Strategy: Business Model Canvas Analy...,Beginner,"By the end of this guided project, you will be...",Finance business plan persona (user experien...
2,Silicon Thin Film Solar Cells,Advanced,This course consists of a general presentation...,chemistry physics Solar Energy film lambda...
3,Finance for Managers,Intermediate,"When it comes to numbers, there is always more...",accounts receivable dupont analysis analysis...
4,Retrieve Data using Single-Table SQL Queries,Beginner,In this course you�ll learn how to effectively...,Data Analysis select (sql) database manageme...

Data Pre-Processing

In [12]:
data['Course Name'] = data['Course Name'].str.replace(' ',',')
data['Course Name'] = data['Course Name'].str.replace(',,',',')
data['Course Name'] = data['Course Name'].str.replace(':','')
data['Course Description'] = data['Course Description'].str.replace(' ',',')
data['Course Description'] = data['Course Description'].str.replace(',,',',')
data['Course Description'] = data['Course Description'].str.replace('_','')
data['Course Description'] = data['Course Description'].str.replace(':','')
data['Course Description'] = data['Course Description'].str.replace('(','')
data['Course Description'] = data['Course Description'].str.replace(')','')

#removing paranthesis from skills columns 
data['Skills'] = data['Skills'].str.replace('(','')
data['Skills'] = data['Skills'].str.replace(')','')

In [13]:
data.head(5)

,Course Name,Difficulty Level,Course Description,Skills
0,"Write,A,Feature,Length,Screenplay,For,Film,Or,...",Beginner,"Write,a,Full,Length,Feature,Film,Script,In,thi...",Drama Comedy peering screenwriting film D...
1,"Business,Strategy,Business,Model,Canvas,Analys...",Beginner,"By,the,end,of,this,guided,project,you,will,be,...",Finance business plan persona user experienc...
2,"Silicon,Thin,Film,Solar,Cells",Advanced,"This,course,consists,of,a,general,presentation...",chemistry physics Solar Energy film lambda...
3,"Finance,for,Managers",Intermediate,"When,it,comes,to,numbers,there,is,always,more,...",accounts receivable dupont analysis analysis...
4,"Retrieve,Data,using,Single-Table,SQL,Queries",Beginner,"In,this,course,you�ll,learn,how,to,effectively...",Data Analysis select sql database management...

Tags Column

In [14]:
data['tags'] = data['Course Name'] + data['Difficulty Level'] + data['Course Description'] + data['Skills']

In [15]:
data.head(5)

,Course Name,Difficulty Level,Course Description,Skills,tags
0,"Write,A,Feature,Length,Screenplay,For,Film,Or,...",Beginner,"Write,a,Full,Length,Feature,Film,Script,In,thi...",Drama Comedy peering screenwriting film D...,"Write,A,Feature,Length,Screenplay,For,Film,Or,..."
1,"Business,Strategy,Business,Model,Canvas,Analys...",Beginner,"By,the,end,of,this,guided,project,you,will,be,...",Finance business plan persona user experienc...,"Business,Strategy,Business,Model,Canvas,Analys..."
2,"Silicon,Thin,Film,Solar,Cells",Advanced,"This,course,consists,of,a,general,presentation...",chemistry physics Solar Energy film lambda...,"Silicon,Thin,Film,Solar,CellsAdvancedThis,cour..."
3,"Finance,for,Managers",Intermediate,"When,it,comes,to,numbers,there,is,always,more,...",accounts receivable dupont analysis analysis...,"Finance,for,ManagersIntermediateWhen,it,comes,..."
4,"Retrieve,Data,using,Single-Table,SQL,Queries",Beginner,"In,this,course,you�ll,learn,how,to,effectively...",Data Analysis select sql database management...,"Retrieve,Data,using,Single-Table,SQL,QueriesBe..."

In [16]:
data['tags'].iloc[1]

'Business,Strategy,Business,Model,Canvas,Analysis,with,MiroBeginnerBy,the,end,of,this,guided,project,you,will,be,fluent,in,identifying,and,creating,Business,Model,Canvas,solutions,based,on,previous,high-level,analyses,and,research,data.,This,will,enable,you,to,identify,and,map,the,elements,required,for,new,products,and,services.,Furthermore,it,is,essential,for,generating,positive,results,for,your,business,venture.,This,guided,project,is,designed,to,engage,and,harness,your,visionary,and,exploratory,abilities.,You,will,use,proven,models,in,strategy,and,product,development,with,the,Miro,platform,to,explore,and,analyse,your,business,propositions.,,We,will,practice,critically,examining,results,from,previous,analysis,and,research,results,in,deriving,the,values,for,each,of,the,business,model,sections.Finance  business plan  persona user experience  business model canvas  Planning  Business  project  Product Development  presentation  Strategy business business-strategy'

In [17]:
new_df = data[['Course Name','tags']]

In [18]:
new_df.head(5)

,Course Name,tags
0,"Write,A,Feature,Length,Screenplay,For,Film,Or,...","Write,A,Feature,Length,Screenplay,For,Film,Or,..."
1,"Business,Strategy,Business,Model,Canvas,Analys...","Business,Strategy,Business,Model,Canvas,Analys..."
2,"Silicon,Thin,Film,Solar,Cells","Silicon,Thin,Film,Solar,CellsAdvancedThis,cour..."
3,"Finance,for,Managers","Finance,for,ManagersIntermediateWhen,it,comes,..."
4,"Retrieve,Data,using,Single-Table,SQL,Queries","Retrieve,Data,using,Single-Table,SQL,QueriesBe..."

In [19]:
new_df['tags'] = data['tags'].str.replace(',',' ')
new_df['Course Name'] = data['Course Name'].str.replace(',',' ')
new_df.rename(columns = {'Course Name':'course_name'}, inplace = True)
new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())
new_df.head(5)

C:\Users\Yashvi\AppData\Local\Temp\ipykernel_14516\383437564.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = data['tags'].str.replace(',',' ')
C:\Users\Yashvi\AppData\Local\Temp\ipykernel_14516\383437564.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['Course Name'] = data['Course Name'].str.replace(',',' ')
C:\Users\Yashvi\AppData\Local\Temp\ipykernel_14516\383437564.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.rename(columns = {'Course Name':'course_name'}, inplace = True)
C:\Users\Yashvi\AppData\Local\Temp\ipykernel_14516\383437564.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

,course_name,tags
0,Write A Feature Length Screenplay For Film Or ...,write a feature length screenplay for film or ...
1,Business Strategy Business Model Canvas Analys...,business strategy business model canvas analys...
2,Silicon Thin Film Solar Cells,silicon thin film solar cellsadvancedthis cour...
3,Finance for Managers,finance for managersintermediatewhen it comes ...
4,Retrieve Data using Single-Table SQL Queries,retrieve data using single-table sql queriesbe...

In [20]:
new_df.shape

(3522, 2)

Text Vectorization

In [21]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')
vectors = cv.fit_transform(new_df['tags']).toarray()

Stemming Process

In [22]:
import nltk
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()
def stem(text):
    y=[]
    
    for i in text.split():
        y.append(ps.stem(i))
    
    return " ".join(y)
new_df['tags'] = new_df['tags'].apply(stem)

C:\Users\Yashvi\AppData\Local\Temp\ipykernel_14516\4126454854.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(stem)

Similarity Measure

In [23]:
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(vectors)

Recommendation Function

In [24]:
def recommend(course):
    course_index = new_df[new_df['course_name'] == course].index[0]
    distances = similarity[course_index]
    course_list = sorted(list(enumerate(distances)),reverse=True, key=lambda x:x[1])[1:7]
    
    for i in course_list:
        print(new_df.iloc[i[0]].course_name)

In [25]:
recommend('Business Strategy Business Model Canvas Analysis with Miro')

Product Development Customer Persona Development with Miro
Product and Service Development Empathy Mapping with Miro
Product Development Customer Journey Mapping with Miro
Analyzing Macro-Environmental Factors Using Creately
Business Strategy in Practice (Project-centered Course)
Innovating with the Business Model Canvas

CARS on this dataset

In [26]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np

# Load the Coursera dataset
coursera_data = pd.read_csv('D:\\RS\\Coursera.csv')


def recommend_courses_pre_filter(data, user_difficulty, top_n=5):
    # Pre-filter based on user difficulty level
    filtered_data = data[data['Difficulty Level'] == user_difficulty]

    # Use TF-IDF Vectorizer for Skills column to calculate similarity
    tfidf_vectorizer = TfidfVectorizer()
    skill_matrix = tfidf_vectorizer.fit_transform(filtered_data['Skills'].fillna(''))
    
    # Compute cosine similarity within the filtered courses
    similarity_matrix = cosine_similarity(skill_matrix)
    # Average similarity scores to get a representative recommendation
    similarity_scores = similarity_matrix.mean(axis=1)
    
    # Sort courses by similarity score and select top_n recommendations
    top_courses = filtered_data.iloc[np.argsort(similarity_scores)[-top_n:]]
    
    return top_courses[['Course Name', 'University', 'Difficulty Level', 'Course Rating', 'Skills']].reset_index(drop=True)

def recommend_courses_post_filter(data, user_difficulty, top_n=5):
    # Use the whole dataset, but only filter after similarity calculation
    tfidf_vectorizer = TfidfVectorizer()
    skill_matrix = tfidf_vectorizer.fit_transform(data['Skills'].fillna(''))
    
    # Compute cosine similarity for all courses
    similarity_matrix = cosine_similarity(skill_matrix)
    
    # Select courses that match the difficulty level after computing similarity
    difficulty_filtered_indices = data[data['Difficulty Level'] == user_difficulty].index
    similarity_scores = similarity_matrix[difficulty_filtered_indices].mean(axis=1)
    
    # Select top N courses from the filtered set
    top_courses = data.iloc[difficulty_filtered_indices[np.argsort(similarity_scores)[-top_n:]]]
    
    return top_courses[['Course Name', 'University', 'Difficulty Level', 'Course Rating', 'Skills']].reset_index(drop=True)

# Run recommendations based on Pre-filtering and Post-filtering
user_difficulty = 'Beginner'  # Example difficulty level
pre_filter_recommendations = recommend_courses_pre_filter(coursera_data, user_difficulty)
post_filter_recommendations = recommend_courses_post_filter(coursera_data, user_difficulty)

# Calculate the average Course Rating for Pre-filtering and Post-filtering recommendations
pre_filter_avg_rating = pre_filter_recommendations['Course Rating'].astype(float).mean()
post_filter_avg_rating = post_filter_recommendations['Course Rating'].astype(float).mean()

# Display results
print("Pre-filter Recommendations:\n", pre_filter_recommendations)
print("\nPost-filter Recommendations:\n", post_filter_recommendations)
print("\nAverage Rating (Pre-filter):", pre_filter_avg_rating)
print("Average Rating (Post-filter):", post_filter_avg_rating)

Pre-filter Recommendations:
                                          Course Name  \
0  Machine Learning: Create a Neural Network that...
1    Analyze Box Office Data with Seaborn and Python
2                      Applied Data Science Capstone
3                      Applied Data Science Capstone
4                  Plots (Graphics) for Data Science

                 University Difficulty Level Course Rating  \
0  Coursera Project Network         Beginner           4.3
1  Coursera Project Network         Beginner           4.5
2                       IBM         Beginner           4.6
3                       IBM         Beginner           4.6
4  Coursera Project Network         Beginner           4.2

                                              Skills
0  evaluation  Computer Vision  analytics  Keras ...
1  project  analysis  Machine Learning  Data Anal...
2  Algorithms  data clustering algorithms  web  a...
3  Algorithms  data clustering algorithms  web  a...
4  Chart  array data structure  project mine  pro...

Post-filter Recommendations:
                                          Course Name  \
0    Analyze Box Office Data with Seaborn and Python
1  Machine Learning: Create a Neural Network that...
2                      Applied Data Science Capstone
3                      Applied Data Science Capstone
4                          Exploratory Data Analysis

                 University Difficulty Level Course Rating  \
0  Coursera Project Network         Beginner           4.5
1  Coursera Project Network         Beginner           4.3
2                       IBM         Beginner           4.6
3                       IBM         Beginner           4.6
4  Coursera Project Network         Beginner           4.3

                                              Skills
0  project  analysis  Machine Learning  Data Anal...
1  evaluation  Computer Vision  analytics  Keras ...
2  Algorithms  data clustering algorithms  web  a...
3  Algorithms  data clustering algorithms  web  a...
4  General Statistics  information engineering  E...

Average Rating (Pre-filter): 4.4399999999999995
Average Rating (Post-filter): 4.46

In [27]:
from sklearn.metrics import mean_squared_error, mean_absolute_error

# Helper function to calculate RMSE and MAE
def evaluate_recommendations(recommended_courses):
    # Get actual ratings
    actual_ratings = recommended_courses['Course Rating'].astype(float)
    # Predict ratings as the mean rating of the recommended courses
    predicted_ratings = [actual_ratings.mean()] * len(actual_ratings)
    
    # Calculate RMSE and MAE
    rmse = mean_squared_error(actual_ratings, predicted_ratings, squared=False)
    mae = mean_absolute_error(actual_ratings, predicted_ratings)
    
    return rmse, mae

# Evaluate pre-filter recommendations
pre_filter_rmse, pre_filter_mae = evaluate_recommendations(pre_filter_recommendations)

# Evaluate post-filter recommendations
post_filter_rmse, post_filter_mae = evaluate_recommendations(post_filter_recommendations)

# Display evaluation results
print("Pre-filter RMSE:", pre_filter_rmse)
print("Pre-filter MAE:", pre_filter_mae)
print("\nPost-filter RMSE:", post_filter_rmse)
print("Post-filter MAE:", post_filter_mae)

Pre-filter RMSE: 0.16248076809271902
Pre-filter MAE: 0.15199999999999997

Post-filter RMSE: 0.1356465996625053
Post-filter MAE: 0.12799999999999995

In [28]:
import pickle

# Fit TF-IDF on the entire dataset’s Skills column (as per post-filtering example)
tfidf_vectorizer = TfidfVectorizer()
skill_matrix = tfidf_vectorizer.fit_transform(coursera_data['Skills'].fillna(''))

# Compute the similarity matrix
similarity_matrix = cosine_similarity(skill_matrix)

# Save the TF-IDF vectorizer and similarity matrix as a pickle file
with open('context_aware_recommendation_model.pkl', 'wb') as f:
    pickle.dump({'tfidf_vectorizer': tfidf_vectorizer, 'similarity_matrix': similarity_matrix}, f)

print("Model saved as context_aware_recommendation_model.pkl")

Model saved as context_aware_recommendation_model.pkl